<div class="about-main">
  <h2>Rakumeshiとは</h2>
  <p>
    料理を作るのがおっくうな方や食事を作るのに時間をかけたくない方。なるべく安くかつ、早くといった効率よく食事を作るor食べるれること(楽なご飯)を共有するSNSサービスです<br>
    対象のユーザーは、独身の方、料理を作るのが苦手な方、食事を作る、食べる時間を短縮して少しでも活動時間を増やしたい方、生産性に捧げている方等になります。
    基本的にブログ形式の投稿になります。
  </p>
    <img class="about-img" src="/images/food.jpg">
</div>