<header>
  <div class="header-logo">
    <%= link_to "Rakumeshi", root_path %>
  </div>
  <ul class="header-menus">
    <li>
      <%= link_to "Rakumeshiとは", about_path %>
    </li>
  </ul>
</header>

<div class="about-main">
  <h2>RakuMeshiとは</h2>
  <p>
    SNSサービスです。
    料理がめんどくさい、安く手軽に調達、調理を共有するサービスです。
  </p>
    <img class="about-img" src="/genky.png">

</div>