<header>
  <div class="header-logo">
    <%= link_to "Rakumeshi", root_path %>
  </div>
  <ul class="header-menus">
    <li>
      <%= link_to "Rakumeshiとは", about_path %>
    </li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>ご飯の調達を楽して時間を手入れよう</h2>
    <p>コスパの良い楽飯を共有しよう！</p>
  </div>
</div>